@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.body{
    font-family: 'Montserrat', sans-serif;
    min-width: 100vh;
    width: 100%;
}

.hero{
    font-family: 'Montserrat', sans-serif;
    width: 100%;
    height: 100%;
    position: relative;
    display: grid;
    grid-template-rows: 70px 1fr;
    color: #fff;
}

.hero__title{
    font-size: 4rem;
    margin-top: .5em;
    color: #585858;
    padding:  0;
    align-content: center;
    gap: 1em;
    text-align: center;
    width: fit-content;
}

.nav{
    padding: 0;
    height: 100%;
    display: flex;
    align-items: center;
}

.nav__link{
    margin-left: auto;
    padding: 0;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: max-content;
    gap: 2em;
}

.nav__items{
    list-style: none;
}

.nav__link__volver{
    font-size: 16px;
    color: #000;
    border: none;
    padding: .3em 2em;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 400;
    border: 1px solid #bbb0b0;
    text-decoration: none;
}

.container{
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    overflow: hidden;
    padding: 50px 0;
}

.table{
    font-family:  'Montserrat', sans-serif;
    font-size: 14px;
    width: 90%;
    margin: auto;
    padding: 1em 2em;
    max-width: 90%;
}

.table__container{
    width: 100%;
    border: 1px solid #000;
    border-radius: .5em;
}

.table__title{
    text-align: center;
    border: none;
}

td, th{
    padding: 10px 10px;
}

.items{
    border-right: 1px solid #585858;
}

.table__cont{
    text-align: center;
}

.nav__link__editar{
    font-size: 14px;
    background-color: #fff;
    color: black;
    border: none;
    font-weight: 300;
    padding: .3em 2em;
    border-radius: 5px;
    cursor: pointer;
    border: 1px solid #bbb0b0;
    text-decoration: none;
    height: 32px;
    margin-right: 5px;
}

.nav__link__borrar{
    font-size: 14px;
    background-color: #fff;
    color: black;
    border: none;
    font-weight: 300;
    padding: .3em 2em;
    border-radius: 5px;
    cursor: pointer;
    border: 1px solid #bbb0b0;
    text-decoration: none;
    height: 32px;
}

.nav__link__volver:hover{
    font-size: 18px;
    background-color: #aaa8a8;
    color: #fff;
    font-weight: 700;
    padding: .3em 1.5em;
    border: 1px solid #fff;
}

.nav__link__volver:active{
    font-size: 16px;
    padding: .3em 1.4em;
}


.nav__link__editar:hover{
    font-size: 13.65px;
    font-weight: 600;
    background-color: #41e65c;
    color: #272727;
}

.nav__link__editar:active{
    font-size: 13.6px;
    padding: .1px 2em;
}

.nav__link__borrar:hover{
    font-size: 13.65px;
    font-weight: 600;
    background-color: red;
    color: #fff;
}

.nav__link__borrar:active{
    font-size: 13.6px;
    padding: .1px 2em;
}