@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.body{
    font-family: 'Montserrat', sans-serif;
    min-width: 100vh;
    width: 100%;
}

.container{
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    overflow: hidden;
    padding: 100px 0;
}

.hero{
    font-family: 'Montserrat', sans-serif;
    width: 100%;
    height: 100vh;
    position: relative;
    display: grid;
    grid-template-rows: 80px 1fr;
    color: #fff;
}

.hero__title{
    font-size: 4rem;
    margin-top: .5em;
    color: #585858;
    padding:  0;
    align-content: center;
    gap: 1em;
    text-align: center;
    width: fit-content;
}

.form{
    background-color: #fff; 
    width: 100%;
    margin: auto;
    max-width: 90%;
    border-radius: 1em;
    padding: .5em 1.7em;
    margin-bottom: 2.5em;
}

.form__container{
    font-family: inherit;
    width: 100%;
    display: flex;
    gap: 1em;
}

.form__input{
    font-family: inherit;
    font-size: 1rem;
    padding: .3em 8px;
    outline: none;
    border: none;
    border: 1.5px solid #bbb0b0;
    border-radius: 0.4em;
}

.form__label{

    color: #000;
    padding: 5%;
}

.form__section__1{
    font-family: inherit;
    width: 100%;
    display: grid;
    gap: 1.5em;
    grid-template-columns: 100%;
}

.form__input__descripcion{
    width: 234px;
    resize: none;
}

.form__input__proveedor{
    width: 234px;
}

.form__section__2{
    font-family: inherit;
    width: 100%;
    display: grid;
    gap: 1em;
    grid-template-columns: 100%;
    text-align: end;
}

.id{
    margin-right: 80px;
}

.nombre{
    margin-right: 30px;
}

.proveedor{
    margin-right: 14px;
}

.bodega{
    margin-right: 0%;
}

.minima{
    margin-right: 25px;
}

.form__reg{
    font-size: 18px;
    background-color: #fff;
    color: black;
    border: none;
    font-weight: 300;
    padding: .3em 2em;
    border-radius: 5px;
    cursor: pointer;
    border: 1px solid #bbb0b0;
    text-decoration: none;
    width: 232px;
    height: 35px;
    margin-top: 30px;
    margin-left: 200px;
}

.div{
    margin-left: 150px;
}

.input{
    margin-left:  24px;
}

.input_tel{
    margin-left:  30px;
}

.error
{
    font-size: large;
    font-weight: 600;
    color: #D8000C;
}

.cancelar{
    color: #000;
    font-weight: 400;
}

.nav__link__volver:hover{
    font-size: 18px;
    background-color: #aaa8a8;
    color: #fff;
    font-weight: 700;
    padding: .3em 1.5em;
    border: 1px solid #fff;
}

.nav__link__volver:active{
    font-size: 16px;
    padding: .3em 1.4em;
}

.form__reg:hover{
    font-size: 18px;
    background-color: #3fbbf0;
    color: #fff;
    font-weight: 400;
    border: 1px solid #fff;
}

.form__reg:active{
    font-size: 17px;
    padding: .4em 1.9em;
}

.cancelar:hover{
    font-size: 18px;
    background-color: #ec4f4f;
    color: #fff;
    font-weight: 400;
    border: 1px solid #fff;
}

.cancelar:active{
    font-size: 17px;
    padding: .4em 1.9em;
}