<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crear Proveedor</title>
    <link rel="stylesheet" href="{{url_for('static', filename='asets_Proveedores/crear/css/estilo.css')}}">
    <script src="{{url_for('static', filename='asets_Proveedores/dash/js/funciones.js')}}"></script>
</head>

<body>
    <header class="hero">

        <section class="title">
            <h1 class="hero__title container">CREAR PROVEEDOR</h1>
        </section>

        <form class="form" name="formularioCrearProv" onsubmit="return validarProveedor();" method="POST">

            <div class="form__container">

                <section class="form__section__1">
                    <span class="error div" id="errorForm"></span>

                    <div class="form__div div">
                        <label for="Nit" class="form__label id">NIT: </label>
                        <input type="text" class="form__input input" name="Nit" id="Nit"
                            onkeypress="return valideKey(event);">
                        <span class="error" id="errorNit"></span>
                    </div>


                    <div class="form__div div">
                        <label class="form__label nombre" for="RazonSocial">Razón social: </label>
                        <input type="text" class="form__input " name="RazonSocial" id="RazonSocial">
                        <span class="error" id="errorRazonSocial"></span>
                    </div>


                    <div class="form__div div">
                        <label class="form__label nombre" for="Direccion">Dirección: </label>
                        <input type="text" class="form__input input" name="Direccion" id="Direccion">
                        <span class="error" id="errorDireccion"></span>
                    </div>


                    <div class=" div">
                        <label class="form__label nombre" for="Telefono">Teléfono: </label>
                        <input type="text" class="form__input input_tel" name="Telefono" id="Telefono"
                            onkeypress="return valideKey(event);">
                        <span class="error" id="errorTelefono"></span>
                    </div>


                    <div>
                        <button type="submit" class="form__reg">GUARDAR</button>
                        <a href="/cancelar/" class="form__reg cancelar">CANCELAR</a>
                    </div>
                </section>
            </div>
        </form>
    </header>
</body>

</html>