<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dash Admin</title>
    <link rel="stylesheet" href="{{url_for('static', filename='asets_P_admin/css/estilos.css')}}">
</head>

<body>
    <header class="hero">
        <nav class="nav container">
            <div class="nav__logo">
                <a href="/miPerfil/" class="nav__link__blue">Mi Perfil</a>
            </div>

            <ul class="nav__link nav__link--menu">
                <li class="nav__items">
                    <a href="/" class="nav__link__white">Cerrar Sesión</a>
                </li>
            </ul>
        </nav>

        <section class="title">
            <h1 class="hero__title container">Dashboard Administrativo</h1>
        </section>

        <main>
        <section class="container about">
            <div class="about__main">
                <article class="about__icons">
                    <img src="{{url_for('static', filename='asets_P_admin/img/product.png')}}" class="about__icon" alt="category" />
                    <a href="/productos/" class="nav__link__opciones">Productos</a>
                </article>

                <article class="about__icons">
                    <img src="{{url_for('static', filename= 'asets_P_admin/img/proveedor.png')}}" class="about__icon" alt="category" />
                    <a href="/indexProveedor/" class="nav__link__opciones">Proveedores</a>
                </article>

                <article class="about__icons">
                    <img src="{{url_for('static', filename='asets_P_admin/img/usuario.jpg')}}" class="about__icon" alt="category" />
                    <a href="/usuarios/" class="nav__link__opciones">Usuarios</a>
                </article>
            </div>
        </section>
    </main>
    </header>
</body>

</html>