<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar producto</title>
    <link rel="stylesheet" href="{{url_for('static', filename='asets_Productos/editar/css/estilos.css')}}">
    <script src="{{url_for('static', filename='asets_Productos/editar/js/funciones.js')}}"></script>
</head>

<body>
    <header class="hero">
        <section class="title">
            <h1 class="hero__title container">EDITAR PRODUCTO</h1>
        </section>

        <form class="form" method="POST" name="formEditarProd"  onsubmit="return validarProducto();">

            <div class="form__container">

                <section class="form__section__1">
                    <span class="error " id="errorForm"></span> 
                    <div class="form__div">
                        <label for="idEdit" class="form__label id">ID: </label>
                        <input type="text" class="form__input" name="idEdit" id="idEdit">
                        <span class="error " id="errorId"></span>
                    </div>

                    <div class="form__div">
                        <label class="form__label nombre" for="nombreEdit">Nombre: </label>
                        <input type="text" class="form__input" name="nombreEdit" id="nombreEdit">
                        <span class="error " id="errorNombre"></span>
                    </div>

                    <div class="form__div">
                        <label class="form__label form__label__descripcion" for="descripcionEdit">Descripcion: </label>
                        <textarea class="form__input form__input__descripcion" name="descripcionEdit" id="descripcionEdit"></textarea>
                        <span class="error " id="errorDescripcion"></span>
                    </div>

                    <div class="form__div">
                        <label class="form__label proveedor" for="proveedorEdit">Proveedor: </label>
                        <select class="form__input form__input__proveedor" name="proveedorEdit" id="proveedorEdit">
                            <optgroup label="Seleccionar...">
                                <option></option>
                            </optgroup>
                        </select>
                    </div>
                </section>

                <section class="form__section__2">
                    <div class="form__div">
                        <label class="form__label bodega" for="bodegaEdit">Cantidad en Bodega: </label>
                        <input type="text" class="form__input" name="bodegaEdit" id="bodegaEdit">
                        <span class="error " id="errorBodega"></span>
                    </div>

                    <div class="form__div">
                        <label class="form__label minima" for="minimaEdit">Cantidad Minima: </label>
                        <input type="text" class="form__input" name="minimaEdit" id="minimaEdit">
                        <span class="error " id="errorMinima"></span>
                    </div>

                    <div>
                        <button type="submit" class="form__reg">GUARDAR</button>
                        <a href="/cancelarL_P/" class="form__reg cancelar">CANCELAR</a>
                    </div>
                </section>
            </div>
        </form>
    </header>
</body>

</html>


<!--
    editarProducto
    <div>
                        <button type="submit" class="form__reg">GUARDAR</button>
                        <a href="/cancelarE_B_P/" class="form__reg cancelar">CANCELAR</a>
                    </div>




    editarProductoLista
    <div>
                        <button type="submit" class="form__reg">GUARDAR</button>
                        <a href="/cancelarL_P/" class="form__reg cancelar">CANCELAR</a>
                    </div>
-->